<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="TestNG" parallel="classes" thread-count="1">
        <groups>
            <run>
                <!--                <include name=""/>-->
            </run>
        </groups>
        <classes>
            <class name="com.github.neji69.Cucumber.CucumberRunnerTest"/>
        </classes>
    </test>
</suite>